{% extends "network/layout.html" %}

{% block body %}
      {% if user.is_authenticated %}
        <div id="user_id" data-id="{{ request.user.id }}"></div>
        <div id="user_username" data-username="{{ request.user.username }}"></div>
        <div id="user_is_authenticated" data-isauthenticate=True></div>
      {% else %}
        <div id="user_id" data-id="null"></div>
        <div id="user_username" data-username="null"></div>
        <div id="user_is_authenticated" data-isauthenticate=False></div>
      {% endif %}
      
      <div id="root"></div>
{% endblock %}